body   
{  
height: 125vh;  
margin-top: 80px;  
padding: 30px;  
background-size: cover;  
font-family: sans-serif;
background-color:lemonchiffon;
}  
header {  
background-color:orange;
padding: 3;  
position: fixed;  
left: 0;  
right: 0;  
top: 0;  
height: 40px;  
align-items: center;  
box-shadow: 0 0 25px 0 black;

}  
header * {  
display: inline;  
}  
header li {  
margin-top: 500px;
margin-left: 10px ;
margin-bottom: 10px ;
margin-right: 10px ;
}  
header li a {  
color: blue;  
text-decoration: none;  
} 




* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  

  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;

    text-align: center;
    background-color:aliceblue;
    height: 570px;
    margin-bottom: 10px;
  }

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 1800px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


  .card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.row{
  grid-row-gap: 10px;
}



/*Mine */

#categories {
  padding-top: 10;
}

img {
    height: 500px;
    width: 400px;
}

#basket{
  position: absolute;
  right: 5%;
  color: green;
}

li img{
  width: 25px;
  height: 25px;
  text-align: center;
}


h1{
  text-align: center;
}

#NavCentre{
  text-transform: capitalize;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*Product page*/

#productImage .card{
  margin-left: 35%;      
  margin-right: 35%;
  width: auto;
}



.vertical-line{
  display: inline-block;
  border-left: 1px solid #ccc;
  margin: 0 20px;
  height: 500px;
}


.text {
  position: relative;
  font-size: 20px;
}

/* Cart Button */

#cart {
  float: right;
  width: 30px;
  height: 30px;
}
