<!--main.handlebars-->
<html>
<head>
    <meta charset="utf-8">
    <script src="/javascript/main.js"></script>

    <title>Example App</title>
</head>
<body>

    <header>  
        <nav> 
            <ul>
                <li>  
                    <img src="https://th.bing.com/th/id/R.fdd7a1d520d752a8e90658e615bd64b9?rik=GhhkQmM3HbOVsw&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_158445.png&ehk=FoEG8SH6nP%2b%2bVMArDv4EtYP0O5RCX2w%2fRZQGuvXY69I%3d&risl=&pid=ImgRaw&r=0">
                    <a href="/"> Home </a>
                </li> 
                <div id="NavCentre">
                        {{#each categories}}
                            <li>  
                                <a href="/{{this.category}}"> {{this.category}} </a>  
                            </li>  
                        {{/each}}
                </div>
                <li>
                    <form id="cart" action="" onclick= "goFetch()">
                        <input type="image" src="https://cdn.onlinewebfonts.com/svg/img_460503.png" id="submit" alt="Submit" width="30" height="30" style="float:right">
                    </form>
                </li>

            </ul>  
        </nav>  
    </header>

    {{{body}}}


</body>
</html>