<head>
    <link rel="stylesheet" href="\stylesheets\styling.css">
    <title>Your Basket</title>
</head>

<body>
    <h1 id="admin">Admin</h1>

    <h2>Create new product</h2>
    <form action="">
        <label for="name">Product Name</label>
        <input type="text" name="" id="">

        <label for="price">Product Price</label>
        <input type="text" name="" id="">

        <label for="description">Product Description</label>
        <input type="text" name="" id="">

        <label for="category">Product Category</label>
        <input type="text" name="" id="">

        <button>Submit</button>
    </form>
</body>