<head>
    <link rel="stylesheet" href="\stylesheets\styling.css">
    <title>Your Basket</title>
</head>
<body>
    {{!-- Navigation Bar --}}
    <header>  
        <nav> 
            <ul>
                <li>  
                    <img src="https://th.bing.com/th/id/R.fdd7a1d520d752a8e90658e615bd64b9?rik=GhhkQmM3HbOVsw&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_158445.png&ehk=FoEG8SH6nP%2b%2bVMArDv4EtYP0O5RCX2w%2fRZQGuvXY69I%3d&risl=&pid=ImgRaw&r=0">
                    <a href="/"> Home </a>
                </li> 
                <div id="NavCentre">
                    <li>  
                        <a href="/electronics"> Electronics </a>  
                    </li>  
                    <li>  
                        <a href="/jewelery"> Jewelry </a>  
                    </li>  
                    <li> 
                        <a href="/men's clothing"> Men's clothing </a>  
                    </li>  
                    <li>  
                        <a href="/women's clothing"> Women's clothing </a>  
                    </li>
                </div>
                <li>
                    <div id="basket">
                        <a href="/cart">
                            Basket
                            <img src="https://cdn.onlinewebfonts.com/svg/img_460503.png">
                        </a>
                    </div>
                </li>
            </ul>  
        </nav>  
    </header>

    <h1>Your Basket</h1>
    <div class="cart-column">
        {{#each items}}
            <div id="cart-product">
                <img class="card-body" src="{{this.imageUrl}}">
                <div class="card-body">{{this.title}}</div> 
                <div class="card-body">£{{this.price}}</div>
            </div>
        {{/each}}
    </div>
    <p>Total: £{{this.total}}</p>    
    <form action="/clear">
        <button onClick="fetch('/clear', {method: 'GET'})">Buy Now</button>
    </form>
    

    <script>
        const button = document.querySelector("button")
    </script>
</body>
</html>