<head>
    <link rel="stylesheet" href="\stylesheets\styling.css">
    <title>Thank you for shopping with us</title>
</head>

<body>
    <h1>Thank you for shopping with us!</h1>
    <h3></h3>
</body>