<head>
    <link rel="stylesheet" href="\stylesheets\styling.css">
    <title>Thank you for shopping with us</title>
</head>

<body>
    <h1 id="checkout-header">Thank you for shopping with us!</h1>
    
</body>