<head>
<link rel="stylesheet" href="\stylesheets\styling.css"/>
</head>

<Body>   
    <h1 id="header">
        {{this.category}}
    </h1>

    <!-- Change h1 "Template" to category ID --->
    
    <br> 

    <!-- Product cards -->
    <div class="row">
    {{#each items}}
        <div class="column">
            <a href="/product/{{this.id}}">
                <div class="card">
                    <img src="{{this.imageUrl}}">
                    <div class="card-body">{{this.title}}</div>
                </div>
            </a>
        </div>
    {{/each}}
    </div>

<script>
    //Change to "Home Page" if there are more than 15 items
    let count = 0;
    {{#each items}}
        count++;
    {{/each}}
    if (count > 19){
        const header = document.getElementById("header");
        header.innerText="Home Page";
    }
</script>
</Body>