<head>
    <link rel="stylesheet" href="\stylesheets\styling.css">
    <title>Your Basket</title>
</head>

<body>
    <h1 id="admin">Admin</h1>

    <h2>Create new product</h2>
        <label for="name">Product Name</label>
        <input type="text" name="title" id="name" required>
        <br>
        <label for="price">Product Price</label>
        <input type="number" name="price" id="price" required>
        <br>
        <label for="description">Product Description</label>
        <input type="text" name="description" id="desc" required>
        <br>
        <label for="category">Product Category</label>
        <input type="dr" name="category" id="category" required>
        <br>
        <label for="image">Product Image</label>
        <input type="dr" name="image" id="image" required>
        <br>
        <button onclick="itemAdd()">Submit</button>


    <h2>Delete Product</h2>

        <label for="name">Product Name</label>
        <select name="name" id="del-item"required>
            {{#each items}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
            
        </select >
        <br>

        <button onclick="delItem()">Submit</button>

    <h2>New Description</h2>
        <label for="name">Product Name</label>
        <select name="name" id="desc-name"required>
            {{#each items}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select >

        <br>

        <label for="description">Product Description</label>
        <input type="text" name="description" id="description" required>

        <br>
        <button onclick="descChange()">Submit</button>
</body>